<div class="container">
  <div>
    <label for="this">features</label>
    <table class="table table-bordered" id="this" readonly>
      <thead>
      <tr>
        <th class="horizontal_center" scope="col" style="width: 15%">Title</th>
        <th class="horizontal_center" scope="col" style="width: 70%">Description</th>
        <th class="horizontal_center" scope="col" style="width: 6%">Priority</th>
        <th class="horizontal_center" scope="col" style="width: 15%">Loe per feature</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let feat of features">
        <tr>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row" readonly>{{feat.name}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row" readonly>{{feat.description}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row" readonly>{{feat.priority}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row" readonly>{{feat.loe_per_feature}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>


  <div class="form-row">

    <div class="col-auto">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>

    {{message}}

  </div>
</div>
