  <br>
  <div class="container">
    <div *ngIf="selectedProposal">
      <label for="tableDetails">{{selectedProposal.title}} details</label>
      <table class="table table-bordered" id="tableDetails">
        <thead>
        <tr>
          <th scope="col" style="width: 20%">Parameter</th>
          <th scope="col" style="width: 80%">State</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>-->
          <!--<td scope="row">ID</td>-->
          <!--<td scope="row">{{selectedProposal.user_id}}</td>-->
        <!--</tr>-->
        <tr>
          <td scope="row">Title</td>
          <td scope="row">{{selectedProposal.title}}</td>
        </tr>
        <tr>
          <td scope="row">Description</td>
          <td scope="row">{{selectedProposal.description}}</td>
        </tr>
        <tr>
          <td scope="row">Expected Profit</td>
          <td scope="row">{{selectedProposal.expected_profit}}</td>
        </tr>
        <tr>
          <td scope="row">Start Date</td>
          <td scope="row">{{selectedProposal.start_date}}</td>
        </tr>
        <tr>
          <td scope="row">End Date</td>
          <td scope="row">{{selectedProposal.end_date}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
