<div class="container">
  <div class="form-group">
    <label for="proposalTitle">Title</label>
    <input type="text" [(ngModel)]="proposal.title" maxlength="300" class="form-control" id="proposalTitle"
           placeholder="{{proposal.title == null ? 'title' : proposal.title}}" required>
  </div>

  <div class="form-group">
    <label for="proposalDesc">Description</label>
    <textarea class="form-control" cols="53" rows="4" [(ngModel)]="proposal.description" maxlength="5000"
              id="proposalDesc"></textarea>
  </div>

  <div class="form-group">
    <label for="proposalProfit">Expected profit</label>
    <input type="text" class="form-control" [(ngModel)]="proposal.expected_profit" maxlength="5000"
           id="proposalProfit">
  </div>

  <div class="form-group">
    <label for="proposalLoe">Total LOE, md</label>
    <input type="number" [(ngModel)]="proposal.man_days" class="form-control" id="proposalLoe"
           placeholder="{{proposal.man_days == null ? 'LOE, md' : proposal.man_days}}" required multiple>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="start_date">Start date</label>
      <input type="date" class="form-control" id="start_date"
             placeholder="{{proposal.start_date == null ? 'date' : proposal.start_date}}"
             [(ngModel)]="proposal.start_date">
    </div>
    <div class="form-group col-md-6">
      <label for="end_date">End date</label>
      <input type="date" class="form-control" id="end_date"
             placeholder="{{proposal.end_date == null ? 'date' : proposal.end_date}}"
             [(ngModel)]="proposal.end_date">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="proposalCustomers">Customers</label>
      <br>
      <mat-form-field>
        <mat-select [compareWith]="compareObjects" id="proposalCustomers" multiple [(ngModel)]="selectedCustomers">
          <mat-option *ngFor="let customer of customersList" [value]="customer">{{customer.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-4">
      <label for="newCustomer">New customer name</label>
      <input type="text" [(ngModel)]="newCustomer" class="form-control" id="newCustomer" placeholder="new customer">
    </div>
    <div class="form-group col-md-4">
      <label for="buttonAdd">Click to add</label>
      <button class="btn btn-success form-control" id="buttonAdd" (click)="addNewCustomer()">Add</button>
    </div>
  </div>

  <div class="form-group">
    <label>Features</label>
    <div class="col-auto">
      <ng-container>
        <input
          style="display: none; opacity: 0;"
          type="file" (change)="selectFile($event)"
          #fileInput>
        <button class="btn btn-block" (click)="fileInput.click()">Select File</button>
        <button class="btn btn-block" (click)="uploadFile()">Upload!</button>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <label for="proposalEquipment">Equipment</label>
    <textarea class="form-control" cols="53" rows="4" maxlength="5000" id="proposalEquipment"
              [(ngModel)]="proposal.equipment"></textarea>
  </div>
  <div *ngIf="proposal.reject_message != ''" class="form-group">
    <label for="proposalReject">Reject message</label>
    <textarea class="form-control" cols="53" rows="4" maxlength="5000" id="proposalReject"
              readonly>{{proposal.reject_message}}</textarea>
  </div>

  <div class="message {{ message_status }}">
    {{message}}
    <!--{{messagecheck}}<br>--->
    <!--{{messagedraftsave}}<br>-->
    <!--{{messagesave}}<br>-->
  </div>

  <div class="form-row">

    <div class="col-auto">
      <button class="btn btn-success" (click)="validateProposal()">Validate</button>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="saveAsDraft()">Save as a draft</button>
    </div>

    <div class="col-auto">
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>

    <div class="col-auto">
      <button class="btn btn-primary" (click)="feature()">Features List</button>

    </div>
    <div class="col-auto">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
