<div class="container">
  <div>
    <label for="this">features</label>
    <table class="table table-bordered" id="this">
      <thead>
      <tr>
        <th class="horizontal_center" scope="col" style="width: 15%">Title</th>
        <th class="horizontal_center" scope="col" style="width: 70%">Description</th>
        <th class="horizontal_center" scope="col" style="width: 6%">Priority</th>
        <th class="horizontal_center" scope="col" style="width: 15%">Loe per feature</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let feat of features">
        <tr>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row">{{feat.name}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row">{{feat.description}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row">{{feat.priority}}</td>
          <td (click)="onSelect(feat)" class="horizontal_center" scope="row">{{feat.loe_per_feature}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="container">
    <label>New features</label>
    <div class="form-group">
      <label for="featureTitle">Title</label>
      <input type="text" [(ngModel)]="newfeature.name" maxlength="300" class="form-control" id="featureTitle">
    </div>

    <div class="form-group">
      <label for="featurePrior">Priority</label>
      <input type="text" [(ngModel)]="newfeature.priority" maxlength="300" class="form-control" id="featurePrior">
    </div>

    <div class="form-group">
      <label for="featureDesc">Description</label>
      <textarea class="form-control" cols="53" rows="4" [(ngModel)]="newfeature.description" maxlength="5000"
                id="featureDesc"></textarea>
    </div>

    <div class="form-group">
      <label for="featureLoe">Loe per feature</label>
      <input type="text" [(ngModel)]="newfeature.loe_per_feature"  maxlength="300" class="form-control" id="featureLoe">
    </div>

  </div>

  <div class="form-row">

    <div class="col-auto" >
      <button class="btn btn-info" (click)="addFeature()">Add Feature</button>
    </div>

    <div class="col-auto" >
      <button class="btn btn-info" (click)="deleteFeature()">Delete Feature</button>
    </div>

    <div class="col-auto" >
      <button class="btn btn-info" (click)="save()">Save</button>
    </div>

    <div class="col-auto">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>

    {{message}}

  </div>
</div>
