<div class="container">
  <div class="form-group">
    <label for="proposalTitle">Title</label>
    <textarea class="form-control" cols="53" rows="1" id="proposalTitle" readonly>{{selectedProposal.title}}</textarea>
  </div>
  <div class="form-group">
    <label for="proposalDesc">Description</label>
    <textarea class="form-control" cols="53" rows="4"
              id="proposalDesc" readonly>{{selectedProposal.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="proposalProfit">Expected profit</label>
    <textarea class="form-control" cols="53" rows="4"
              id="proposalProfit" readonly>{{selectedProposal.expected_profit}}</textarea>
  </div>

  <div class="form-group">
    <label for="proposalLoe">Total LOE</label>
    <textarea class="form-control" cols="53" rows="1"
              id="proposalLoe" readonly>{{selectedProposal.man_days}}</textarea>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="start_date">Start date</label>
      <textarea class="form-control" cols="53" rows="1"
                id="start_date" readonly>{{selectedProposal.start_date}}</textarea>
    </div>
    <div class="form-group col-md-6">
      <label for="end_date">End date</label>
      <textarea class="form-control" cols="53" rows="1"
                id="end_date" readonly>{{selectedProposal.end_date}}</textarea>
    </div>
  </div>

  <div *ngIf="this.length != 0; else other_content" class="form-row">
    <div class="form-group col-md-4">
      <label for="customers">Customers</label>
      <ng-container *ngFor="let customer of customerList" id="customers">
        <textarea class="form-control" cols="26" rows="1" readonly>{{customer.name}}</textarea>
      </ng-container>
    </div>
  </div>
  <ng-template #other_content>There aren't any customers of the Proposal<br><br></ng-template>


  <div class="form-group">
    <label for="proposalEquipment">Equipment</label>
    <textarea class="form-control" cols="53" rows="4" id="proposalEquipment"
              readonly>{{selectedProposal.equipment}}</textarea>
  </div>

  <div *ngIf="statusName === 'In Queue'; else text">
    <ng-container *ngIf="this.is_rejected === true">
      <br>
      <div class="form-group">
        <label for="proposalReject">Reject message</label>
        <textarea class="form-control" cols="53" rows="4" maxlength="5000" id="proposalReject"
                  [(ngModel)]="selectedProposal.reject_message"></textarea>
      </div>
    </ng-container>

    <div class="form-row">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="featurePage()">Features List</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-success" (click)="approve()">Approve</button>
      </div>
      <div class="col-auto">
        <ng-container *ngIf="this.is_rejected !== true">
          <button class="btn btn-danger" (click)="showRejectionMessage()">Reject</button>
        </ng-container>
        <ng-container *ngIf="this.is_rejected === true">
          <button class="btn btn-danger" (click)="reject()">Send</button>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #text>
    You can't change status of this proposal
  </ng-template>

  <br>
  <div>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</div>
