<div class="container">
  <br>
  <h3 align="center">List of Proposals</h3> <br>
  <div class="form-row">
    <div class="col-12 col-md-8">
      <label for="list">Select type of proposals</label>
      <br>
      <select class="custom-select" (change)="changeType($event.target.value)" id="list">
        <option class="list-group-item" value='All'>All</option>
        <option class="list-group-item" *ngFor="let type of typeOfProposals">{{type}}</option>
      </select>
    </div>
    <div class="col-6 col-md-4">
      <label for="button">Create new proposal</label>
      <br>
      <button class="btn btn-success" (click)="createNew()" id="button">New!</button>
    </div>
  </div>
  <br>

  <div>
    <label for="this">{{this.typeOfProposal}} proposals</label>
    <table class="table table-bordered" id="this">
      <thead>
      <tr>
        <th class="horizontal_center" scope="col" style="width: 70%">Title</th>
        <th class="horizontal_center" scope="col" style="width: 15%">Status</th>
        <th class="horizontal_center" scope="col" style="width: 6%"></th>
        <th class="horizontal_center" scope="col" style="width: 9%"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let proposal of allProposals">
        <tr *ngIf="proposal.type === typeOfProposal || typeOfProposal == 'All'">
          <!--<td (click)="onSelect(proposal)" scope="row">{{proposal.id}}</td>-->
          <td (click)="onSelect(proposal)" class="horizontal_center" scope="row">{{proposal.title}}</td>
          <td (click)="onSelect(proposal)" class="horizontal_center" scope="row">{{proposal.status.name}}</td>
          <td scope="row" class="horizontal_center">
            <button class="btn btn-success pull-right" id="editButton" (click)="editProposal(proposal)">
              View
            </button>
          </td>
          <td scope="row" class="horizontal_center">
            <a class="btn btn-success" href="/upload/pptx?id={{proposal.id}}" role="button">Presentation</a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<app-proposal-detail [selectedProposal]="this.selectedProposal"></app-proposal-detail>
